/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 27-oct-2019, 14:41:12
    Author     : isa
*/

form {
    display: grid;
    grid-template-columns: [labels] 15% [controles] 35%;
    grid-auto-flow: row;
    grid-gap: 0.3em;
}

form > label{
    grid-column: labels;
    grid-row: auto;
}

form > input, input{
    grid-column: controles;
    grid-row: auto;
    background-color: #F7BE5C;
    border-radius: 5px;
}

form > a {
    width: 65%;
    color: #EFA527;
}

form >  submit, input {
    grid-column: span 2;
    background-color: #F7BE5C;
    border-radius: 5px;
}

#volver1 {
    position: absolute;
    top: 170px;
    left: 560px;
}

#volver2 {
    position: absolute;
    top: 260px;
    left: 560px;
}
