form {
    display: grid;
    grid-template-columns: [labels] 15% [controles] 35%;
    grid-auto-flow: row;
    grid-gap: 0.3em;
}

form > label{
    grid-column: labels;
    grid-row: auto;
    color: #189685;
}

form > input, input{
    grid-column: controles;
    grid-row: auto;
    background-color: #F7BE5C;
    border-radius: 5px;
}

form > a {
    width: 65%;
    color: #EFA527;
}

form >  submit, input {
    grid-column: span 2;
    background-color: #F7BE5C;
    border-radius: 5px;
}

#volver1 {
    position: absolute;
    top: 173px;
    left: 563px;
}

#volver2 {
    position: absolute;
    top: 270px;
    left: 563px;
}

#cod_reser, #cod_aula, #cod_hora, #fecha, #hora_Inicio, #hora_Finalizar{
    width: 100px;
}

#bitacora {
    width: 300px;
    color: #EFA527;
}
