*{
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
        "cabecera      cabecera     cabecera"
        "menu_ver      formulario   formulario"
        "pie           pie          pie";
    grid-template-columns: 30% 50% auto;
    grid-template-rows: auto;
    grid-gap: 5px;
    font-family: 'Varela Round', sans-serif;
    background-color: #8A1C9D;
    margin: 0px;
    background-image: url(../imagenes/imagen1.jpeg);
}

header {
    grid-area: cabecera;
    background-color: #8A1C9D;
    width: 100%;
    color: #F7BE5C;
}

h1 {
    padding: 15px;
}

form , table {
    grid-area: formulario;
    height: auto;
}

nav.vertical {
    grid-area: menu_ver;
    font-weight: bold;
    height: auto;
    width: 200px;
}

nav.vertical  ul {
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 100;
}

nav.vertical  li {
    list-style-type: none;
    position: relative;
    width: auto;
}

nav.vertical  li a {
    background-color: #F7BE5C;
    color:#8A1C9D;
    text-decoration: none;
    display: block;
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}

nav.vertical  li a:hover {
    background-color: #580966;
    color: #F7BE5C;
}

nav.vertical  > ul {
    margin-left: 0px;
}

nav.vertical  > ul > li {
    display: block;
    margin: 0px;
}

nav.vertical  ul li ul {
    display: none;
    visibility: hidden;
}

nav.vertical  ul li:hover > ul{
    display: block;
    visibility: visible;
    position: absolute;
    top: 0px;
    right: -200px;
    width: 200px;
}

table, td, th, tr {
    width: 100px;
    border-collapse: collapse;
    border: 3px solid #F7BE5C;
}

th, caption, label {
    color: #F7BE5C;
}

footer {
    grid-area: pie;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-weight: bold;
<<<<<<< HEAD
    color: #189685;
=======
    color: #F7BE5C;
>>>>>>> CSS
}
